.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Build results
[Bb]in/
[Oo]bj/

# Draw.io backup files
*.drawio.bkp

# MacOS desktop services storage files
.DS_Store